<%- model_class = Website -%>
<div class="page-header">
  <h1>Add Your WebSite and Your Key Products </h1>
</div>
<%= render :partial => 'form' %>
<% content_for :footer do %>
  Key Product => think of a product/service that you specialise in and offers you a good return for your Business  
<% end %>