<%- model_class = Website -%>
<div class="page-header">
  <h1>Add Your Website URL and Your Key Product or Service </h1>
</div>
<%= render :partial => 'form' %>
<% content_for :footer do %>
  <br>
  Key Product : Think of the PRODUCT or SERVICE that you Specialise in and will give you a good return in your Business.  
<% end %>