<%- model_class = Website -%>
<div class="page-header">
  <h1>Add Your Website URL and Your Key Product or Service </h1>
</div>
<%= render :partial => 'form' %>
<% content_for :footer do %>
  <br>
  Key Product : A PRODUCT or SERVICE that gives you a good return.  
<% end %>