<%- model_class = Website -%>
<div class="page-header">
  <h1>Add Your WebSite and Your Key Products </h1>
</div>
<%= render :partial => 'form' %>
<% content_for :footer do %>
  Key Product => Think of your PRODUCTS/SERVICES that you Specialise in and that gives you a Good return on your Business  
<% end %>