
<div class="form-group" >
  <div class= "col-lg-2">
    <%= form_tag data_dashboards_path, :method => 'get' do %>
      <p> 
        <%= text_field_tag :search, params[:search], :class => 'form-control' %>
      </p>
  </div>
      <p>
        <%= submit_tag "Search", :name => nil, :class => 'btn btn-primary' %>
      </p>
    <% end %>

</div>

