<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Hi <%= @user.email %></h4>
    <p>
      We have recevied your request to cancel your subscription for "<%= @website %>, Client ID - <%= @stripeid %>". Your Cancellation request will be process in the next 24hours. Any outstanding funds will be depostied back to your card within the next 5 - 10 workings.
    </p>
    <p>
      Sorry to see you go. We do hope to see you back again soon.
    </p>
    <p>
      Kind regards, 
      <br>
      <br>
      Swiftads Team.
    </p>
  </body>
</html>