<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Hi <%= @user.email %></h4>
    <p>
      Your Dashboard for the Website URL: "<%= @website %>". has just been updated with the results of today. 
      <br>
      <br>
      Please refer to below Note's when viewing your Dashboard.  You will be notified by email of the next update. In the meantime we will be crunching Data from your Google Ad and using our algirthm to optimising your Ad for New leads to your Business. 
    </p> 
      <br>
      <br>
      <h4>Calls:</h4> This number of people who have called you directly from the Google Search Page
      <br>
      <br>
      <h4>Clicks: </h4>the number of people that have clicked onto your Google ad and went to webpage for more information
      <br>
      <br>
      <h4>Searches:</h4> How many people have searched for your Key Product/ Service on google
      <br>
      <br>
      <h4>Cost: </h4>The Cost of clicks to your Website through your Google Ad.  
      <br>
      <br>
      <h4>Balance: </h4>The Balance is the remaining amount of the $300 that's budgeted towards Google Advertising
      <br>
      <br>
      <h4>Smartphone: </h4>The percentage of people using Smartphone to search for key product/service.
      <br>
      <br>
      <h4>Tablets:</h4> The percentage of people using Tablets to search for key product/service.
      <br>
      <br>
      <h4>Computer : </h4>The percentage of people using Computer desktops to search for key product/service.
      <br>
      <br>
    

    
    <p>
      Kind Regards
      <br>
      <br>
    </p>
    <p>
      Swiftads Team
    </p>
  </body>
</html>