<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.email %></h1>
    <p>
      Thank You for your payment. Your website "<%= @website %>" will be displaying on Goolge search under your Key Products shortly. You will be notified by email once your Dashboard is ready to review.  
    </p>
    <p>
      Kind Regards
    </p>
    <p>
      Swiftads Team
    </p>
  </body>
</html>