<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.email %></h1>
    <p>
      Your Payment was Successfull
    </p>
    <p>
      Your Ad for your website "<%= @website %>" will be displayed shotly on google's first page and on top position.
    </p>
     <p>
      Here at Swiftads, we use our algorthm to works with Google to ensure your ad will only be displayed from a selected range of Quility Google Search Terms, and that are rellevent to your Key Products/Services.
    </p>
    <p>
      You will be notified by email once the results of your advertising is ready to view on your Dashboard. 
    </p>
    <p>
      Please note: A Tax Inovice confirming your recent payment will be email to you shortly. 
    </p>
    <p>
      Thanks You and Best regards,
      <br>
    </p>
    <p>
      Swiftads Team
      <br>
    </p>
  </body>
</html>