<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.email %></h1>
    <p>
      Welcome to Swiftads. Your Payment was Successfull
    </p>
    <p>
      Your Ad for your website "<%= @website %>" will be displayed shotly to potential customers searching on Google
    </p>
     <p>
       What we do behind the scence...
       <br>
        These first few weeks are crucial and play a big part in the setting your business up for success. During this time, Swiftads will crunching the data from Advertsiment and develop a unique individualised code that will improve your website's online presence and generate quality leads for your business.
    </p>
    <p>
      You will be notified by email once the results of your ad is ready to view on your Dashboard. 
    </p>
    <p>
      Please note: <br>
      A Tax Inovice confirming your recent payment will be email to you shortly. <br>
      Also please try not to click into your Advertisment if you see it on a Google Search, as this will be wasted cost to yourself.
    </p>
    <p>
      Kind regards,
      <br>
      <br>
    </p>
    <p>
      Swiftads Team<br>
      start small, Think Big
      <br>
    </p>
  </body>
</html>