<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.email %></h1>
    <p>
      Welcome to Swiftads. Your Payment was Successfull
    </p>
    <p>
      Your Ad for your website "<%= @website %>" will be displayed shotly to potential customer on Google
    </p>
     <p>
       Just a bit of how swiftads works behind the scene
       <br>
        Here at Swiftads, we use our algorthm to works with Google to ensure that your ad will only be displayed from a selected range of Quility Google Search Terms, and that are relevent to your Key Products/Services.
    </p>
    <p>
      You will be notified by email once the results of your advertising is ready to view on your Dashboard. 
    </p>
    <p>
      Please note: <br>
      A Tax Inovice confirming your recent payment will be email to you shortly. <br>
      Also Please do not click onto your Ad if you see it on Google as this will be wasted cost.
    </p>
    <p>
      Thanks You and Best wishes,
      <br>
    </p>
    <p>
      Swiftads Team
      <br>
    </p>
  </body>
</html>