<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.email %></h1>
    <p>
      Your Advertisment for your Website (<%= @website.name %> ) is now READY!!! 
    </p>
    
    <p>
       Now not only will your advertsiment will be on the first page of every search, it will be the first page viewed by potential customers searching on Google. This will make it easy for REAL customers to find your business.
    </p>
      
     <p>
      Login to <a href="http://swiftads.herokuapp.com">SWIFTADS</a> to see your Advertisement 
    </p>
    <p>
      Please Note: Your Dashboard will be generated shortly. You will be able to view the results of your <br>
      Google Ad on <a href="http://swiftads.herokuapp.com">SWIFTADS</a>in the next 24hrs.  
      <br>
      An email will be sent out to shortly to notify you when your Dashboard is ready.
    </p>
    <p>
      Keep a look out for our next email notification. See You Soon :)
    </p>

    <p>
       
      Kind regards
      <br>
      <br>
    </p>
    <p>
      Swiftads Team<br/>
      start small, Think Big
    </p>
    
  </body>
</html>