<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.email %></h1>
    <p>
      Your Advertisment for your Website (<%= @website.name %> ) is now READY!!! 
    </p>
    
    <p>
       Your Ad will be the first page viewed by potential customers searching on Google for your product or service. This will make it really easy for customers to find your business online.
    </p>
      
     <p>
      Login to <a href="http://swiftads.herokuapp.com">SWIFTADS</a> to see your Advertisement 
    </p>
    <p>
      Please Note: Once you have subscribed to the Monthly Plan.  You will be able to view the results of how  <br>
      your Google Ad for your website is performing. You can login to  <a href="http://swiftads.herokuapp.com"> SWIFTADS</a> to  view the latest results. 
      <br>
      An email will be sent out to notify you when your Dashboard is ready to view.
    </p>
    <p>
      Keep a look out for our next email notification. See You Soon :)
    </p>

    <p>
       
      Kind regards
      <br>
      <br>
    </p>
    <p>
      Swiftads Team<br/>
      start small, Think Big
    </p>
    
  </body>
</html>