<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.email %></h1>
    <p>
      Your Google Ad for (<%= @website.name %> ) is now ready 
    </p>
    <p>
     The following Ad will be displayed to potential customer on Google and generate New Leads once you activitate your account.
      </br>
      </br>
    - <%=   @advertise.description %>
    </p>

    <p>
      Activite your Ad NOW!! to Start Advertising on Google. Log onto <a href="http://swiftads.herokuapp.com/">SWIFTADS</a> to get the ball rolling ...
    <p> 
      Kind regards
    </p>
    <p>
      Swiftads Team
    </p>
    
  </body>
</html>