<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.email %></h1>
    <p>
      Thank You for adding your website address "<%= @website %>". You will be notified once your Google Ad is ready.
    </p>
  </body>
</html>