<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.email %></h1>
    <p>
      Thank You for adding the details for your website  "<%= @website %>". You will be notified by email once your Google Ad is ready - it usually take's up 24hrs.
    </p>
    <p>
      Kind Regards
    </p>
    <p>
      Swiftads Team
    </p>
  </body>
</html>