<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi <%= @user.email %></h3>
      <p>
        Thank You for adding your Website url :  "<%= @website %>", and key Product or Service . You will be notified by email once your Advertisment for Google is ready - it usually take's up to 24hrs.
      </p>
      <% if @product.present? %>
        <li><%= @product %></li> 
      <% end %>
      <p>Swiftads will now go to work and create an effective online advertisement that will increase your online presence and generate New Leads to your Website. We will send through an Email notification in the next 24 hours to let you know that your Google Ad is ready. 
      </p>
      <p>
        Next Step- A Dashboard will be created on your Swiftads account . This will display how your Ad is performing on Google Search.
      </p>
      <p>
        Keep a look out for our next email notification. See You Soon :)
      </p>
    
      <p> Kind Regards </p>
      <br>
      <br>
      <p>Swiftads<br>
        start small, Think Big
      </p>
    
  </body>
</html>