<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.email %></h1>
    <p>
      Your Advertisment for your Website (<%= @website.name %> ) is now READY!!! 
    </p>
    
    <p>
       Next Step is to subscribed to our Monthly Plan so that your advertisment for Business is on the first page of Google Search when potential users search for your keywords. Once your Payment comes through, not only will your advertsiment be on the first page of every search, it will be the first page viewed by potential customers searching on Google. This will make it easy for REAL customers to find your business.
    </p>
      
     <p>
      So What are waiting for!! ... Login to <a href="http://swiftads.herokuapp.com/website">SWIFTADS</a> and Start your Monthly Plan.
    </p>

    <p>
       
      Kind regards
      <br>
      <br>
    </p>
    <p>
      Swiftads Team<br/>
      start small, THINK BIG
    </p>
    
  </body>
</html>