<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="height:200px; weight:200px">
    <%=  image_tag 'swiftsl.png' %>
    </div>
    <h3> Tax Invoice for: <%= @website %> - <%= Date.today %></h3>
    <h4> To: <%= @user.email %> </h4>
     <table class="table table-striped">
          <thead>
            <tr>
              <th>Item</th>
              <th> </th>
              <br>
              <th>Details</th>
              <br>
              <th> </th>
              <th>Total</th>
              <br>
              <th> </th>
              <th> </th>
              <th>Paid</th>
              <br>
              
            </tr>
          </thead>
          <tbody>
              <tr>
                
                <td height="50">Google Ads and Service Fee</td>
                <td> </td>
                <br>
                <td height="50">Google Advertising - Monthly</td>
                <br>
                <td> </td>
                <td height="50">$375</td>
                <br>
                <td> </td>
                <td> </td>
                <td height="50">$375</td>
                <br>
                
          </tbody>
    </table>
    <p>
      <br>
      Kind regards,
      <br>
      <br>
    </p>
    <p>

      Swiftads Team
    </p>
  </body>
</html>