<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.email %></h1>
    <p>
      Welcome to Swiftads. Your Payment Details was Successful. 
      <br>
      <br>
      This is your Trails Period, <br>
      Please Note: The Trail Period will end <%= Date.today + 30.days %>, and your monthly payments will commence on .<br>
      <%= Date.today + 1.month %>.

    </p>
    <p>
      Your Ad for your website "<%= @website %>" will be displayed shortly to potential customers searching on Google
    </p>
     <p>
       What we do behind the scene...
       <br>
        These first few weeks are crucial and play a big part in setting your business up for success. During this time, Swiftads will be crunching valuable data from your Advertisement and develop a unique individualised code that will improve your website online presence and generate quality leads to your business.
    </p>
    <p>
      You will be notified by email once the results of your ad is ready to view on your Dashboard. 
    </p>
    <p>
     
    </p>
    <p>
      Kind regards,
      <br>
      <br>
    </p>
    <p>
      Swiftads Team<br>
      start small, Think Big
      <br>
    </p>
  </body>
</html>