

.user-name {

padding: 0 !important ;

padding-left: 5px;

padding-top: 15px !important;

text-align: center;

a {

color: black !important;

margin: 0 !important;

padding: 5px!important;

}

a:hover, a:focus {

color: #000 !important;

}

}

.logout {

padding-left: 0;

}

.nav.navbar-right {

padding-bottom: 10px;

padding-top: 5px;

}

.nav.navbar-nav {

.navbar-link {

border-radius: 5px;

color: #fff;

margin-top: 15px;

padding: 8px;

}

.navbar-link:focus, .navbar-link:hover {

background: #3071a9;

color: #fff;

}

li a {

margin-right: 5px;

}

}

.nav.navbar-right li {

.btn {

color: #fff !important;

margin-top: 5%;

}

.btn-danger:hover, .btn-danger:focus {

background-color: darken(#d9534f,20%) !important;

}

.btn-primary:hover, .btn-primary:focus {

background-color: darken(#428bca,20%) !important;

}

}

.btn-primary:visited, .btn-danger:visited {

color: #fff;

}

.features {

ul {

margin-left: 0;

padding-left: 15px;

}

}

.jumbotron {

text-align: center;

background-image: asset-url('maxresdefault.jpg');

background-size: cover;

color: #fff;

font-family: 'Roboto', sans-serif!important;
font-weight: 300;

font-stretch: expanded;

padding-top: 25px;

padding-bottom: 25px;

margin-left: 15px;

margin-right: 15px;

// text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;

/*

h2 {

font-size: 35px !important;

.lead {

font-family: 'Helvetica Neue' !important;

font-size: 30px !important;

}

} */

}
h2, h3, p{
  font-family: 'Roboto', sans-serif!important;
  font-weight: 400;
  // font-size: 30px;
  color:#565656;
}





.no-left-padding {

padding-left: 0 !important;

}

.listing {

list-style: none;

padding-left: 0;

}



body > div.container > div > div.col-lg-12 > div._links > a:nth-child(1){
  color: #428BCA;
    background-color: #fff;
}

body > div.container > div > div.col-lg-12 > div._links > a:nth-child(3){
  color: #428BCA;
    background-color: #fff; 
}

body > div.container > div > div.col-lg-12 > div._links > a:nth-child(5){
  color: #428BCA;
    background-color: #fff;

}

.well {
    margin-top: 1em;
    padding-top: 3px;
    padding-bottom: 25px;
    padding-left: 19px;
  }

a.btn.btn-warning {
    color: #fff;
}

body > div.container > div > div.col-lg-3 > div > a{
  color: #428BCA;
    background-color: #fff;

}

a.btn.btn-info {
    color: #FFFFFF;
}

.odometer {
            -moz-border-radius: 0.15em;
            -webkit-border-radius: 0.15em;
            -o-border-radius: 0.15em;
            -ms-border-radius: 0.15em;
            -khtml-border-radius: 0.15em;
            border-radius: 0.15em;
            // background-color: #f0f8ff;
            font-family: "Helvetica Neue", sans-serif;
            font-weight: 100;
            padding: 0 0.12em;
            line-height: 1.2em;
            font-size: 12.2em;
            color: #648baf;
            width: 150px;
          }

#blue, #orange, #green, #lightblue, #red, #limegreen{
    margin-top: 5px;
    width: 60px;
    height: 10px;
    margin: 6px;
}

.inline, .chart{
  float: left;
}
.clearBoth{
  clear:both;
}

canvas#mycanvas, canvas#mycanvas2 {
    margin: 1em;
    margin-left: 5em;
}

div#chart1, div#chart2{
    width: 50%;
}

div#chart2 {
    margin-left: 51em;
    margin-top: -279px;
}

h1.Count.odometer {
   
    margin-left: 80px;

}

@media (min-width: 992px){
  .col-md-6 {
      width: 60%;
  }
}

@media (min-width: 992px)
{
    .col-md-offset-3 {
        margin-left: 20%;
      }
}

a.btn.btn-primary.btn-lg.sign-up {
    margin-left: 1em;
}

.row {
    margin-left: 0px; 
    margin-right: 0px;
}

.parent {
   position: relative;
}

.btn{
  margin-bottom: 1em;
}

.font_size{
  font-size: 16px;
}

.hide{
  display: none;
}

nav li a {
    display: none;
}


#carousel {
  position: relative;
  width: 60%;
  margin: 0 auto;
}

#slides {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 250px;
}

#slides ul {
  list-style: none;
  width: 100%;
  height: 250px;
  margin: 0;
  padding: 0;
  position: relative;
}

#slides li {
  width: 100%;
  height: 250px;
  float: left;
  // text-align: center;
  position: relative;
  // font-family: lato, sans-serif;
}


a#prev:hover,
a#next:hover {
  // color: #FFF;
  // text-shadow: .5px 0px #b14943;
}

.quote-phrase,
.quote-author {
  // font-family: sans-serif;
  // font-weight: 300;
  display: table-cell;
  vertical-align: middle;
  padding: 5px 20px;
  // font-family: 'Lato', Calibri, Arial, sans-serif;
}

.quote-phrase {
  height: 100px;
  font-size: 18px;
  // color: #FFF;
  // font-style: italic;
  // text-shadow: .5px 0px #b14943;
  line-height: 26px;
}

.quote-marks {
  font-size: 30px;
  padding: 0 3px 3px;
  position: inherit;
}

.quote-author {
  font-style: normal;
  font-size: 20px;
  color: #b14943;
  font-weight: 400;
  height: 30px;
}

.quoteContainer,
.authorContainer {
  display: table;
  width: 100%;
}


.col-lg-8.col-lg-offset-3.plan {
  margin-bottom: 4em;
  margin-left: 17em;
}

a.btn.btn-primary.btn-lg.sign-up {
    margin-left: 1em;
    float: right;
}


@media (max-width: 1200px){
 div#chart2 {
    margin-left: 46em;
    margin-top: -289px;
  }

}

@media (max-width: 1198px){
  div#chart2 {
    margin-left: 36em;
    margin-top: -299px
  }

  .chart{
    display: block;
  }
}

@media (max-width: 1024px){
  .chart, div#chart2 {
    display:none;
  }
}

@media (max-width: 1024px){
  div#chart1 {
    display:none;
  }

  
}

@media (max-width: 1024px) {
  .hide{
  display: block !important;
  }

  h1.Count.odometer {
    margin-left: -15px;
  }
  
}






